{{#bs-navbar as |navbar|}}
  <div class="navbar-header">
    <a href="#" class="navbar-brand" {{action "toggleSidebar"}}>
      <i class="{{concat " glyphicon glyphicon-list " (if sidebarVisible 'text-primary' '')}}"></i>
    </a>
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item class="navbar-brand"}}
        {{factory}}
      {{/nav.item}}
    {{/navbar.nav}}
    <form class="navbar-form">
      {{#bs-button type="primary" onClick=(action "onAddRow") icon="glyphicon glyphicon-plus-sign"}}
        Add
      {{/bs-button}}
    </form>
  {{/navbar.content}}
{{/bs-navbar}}

<div class="container-fluid">
  <div class="row">
    {{#if sidebarVisible}}
      <div class="col-md-2">
        {{#bs-nav type="pills" stacked="true" class="factory-nav" as |nav|}}
          {{#each tableColumns.factoryNames as |factoryName|}}
            {{#nav.item}}
              {{#nav.link-to "index" (query-params factory=factoryName)}}{{factoryName}}{{/nav.link-to}}
            {{/nav.item}}
          {{/each}}
        {{/bs-nav}}
      </div>
    {{/if}}
    <div class="{{if sidebarVisible 'col-md-10' 'col-md-12'}}" style="overflow: auto">
      {{#if isLoading}}
        <p>...Loading...</p>
      {{else}}
        {{models-table
          data=model
          columns=columns
          showColumnsDropdown=false
          showGlobalFilter=false
          columnComponents=(hash
            editRow=(component "models-table/cell-edit-toggle" saveRowAction=(action "onSaveRow") cancelRowAction=(action "onCancelRow"))
            deleteRow=(component "delete-row" deleteRowAction=(action "onDeleteRow"))
          )
        }}
      {{/if}}
      {{outlet}}
    </div>
  </div>
</div>
